<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capitulos de mi historia</title>
    <link rel="stylesheet" href="../ASSETS/CSS/cap.css">
</head>
<body>
    <a href="../index.html" class="back-button">Volver al Inicio</a>
    <div class="container">

        <div class="box">
            <img src="../ASSETS/IMG/GALLERY/1103_carroza.jpg" alt="img-desfile">
        </div>
        <div class="box">
            <img src="../ASSETS/IMG/GALLERY/camiseta_alpinitos.jpg" alt="img-desfile">
        </div>
        <div class="box">
            <img src="../ASSETS/IMG/GALLERY/convivencia.jpg" alt="img-convivencia1">
        </div>
        <div class="box">
            <img src="../ASSETS/IMG/GALLERY/convivencia2.jpg" alt="img-convivencia2">
        </div>
        <div class="box">
            <img src="../ASSETS/IMG/GALLERY/grupo_sena.jpg" alt="img-sena">
        </div>
        <div class="box">
            <img src="../ASSETS/IMG/GALLERY/men_in_black_1103.jpg" alt="img-MIB">
        </div>
        <div class="box">
            <img src="../ASSETS/IMG/GALLERY/toma_de_fotos_prom24.jpg" alt="toma-de-fotos">
        </div>
        
    </div>
    
</body>
</html>