<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Futuro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../ASSETS/CSS/mi_futuro.css">
</head>
<body>
    <div class="title">
        <h1>Mi Futuro</h1>
    </div>
    <div class="container">
        <div class="card-container">
            <div class="descripcion">
                <p>
                    Entre mis objetivos a corto plazo, he establecido principalmente dos: ingresar a la universidad y continuar con mi rutina de ejercicios, tanto físicos como mentales, lo que incluye leer más libros y dedicar tiempo de calidad a mi familia. Valoro mucho mi salud mental, y creo que la mejor manera de mantenerla es disfrutando el tiempo con lo que más amo, que incluye no solo a las personas, sino también a mis pasatiempos y otras actividades que me apasionan.
                </p>
            </div>
            <div class="header">
                <a href="../index.html">
                    <img src="../ASSETS/IMG/Yo futuro.jpg" alt="Profile picture">
                </a>
                <h2>Jesús Anaya</h2>
                <h4>jdavidanaya2008@gmail.com</h4>
            </div>
        </div>
    </div>
</body>
</html>