<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mí</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../ASSETS/CSS/card.css">
</head>
<body>
    <div class="title">
        <h1>Acerca de mí</h1>
    </div>
    <div class="container">
        <div class="card-container">
            <div class="descripcion">
                <p>¡Hola a todos los que están leyendo esto! <br>

                    <br>Para empezar, debo admitir que no tengo idea sobre qué escribir. Al escribir estas palabras, lancé una mirada hacia atrás y me di cuenta de lo rápido que han pasado estos años en el colegio, años llenos de momentos inolvidables que ahora son solo recuerdos. <br>
                    
                    <br>Los días, meses y años en este colegio, y en los otros en los que estuve, han estado llenos de aprendizajes, risas, y, sí, también algunos malos momentos. Esos días difíciles, al igual que las carreras contra el tiempo para llegar temprano o entregar trabajos, ahora quedan atrás. Valoro todo lo vivido, lo bueno y lo malo, pues cada experiencia me dejó una lección importante. También pienso en las personas que conocí; todos, de alguna manera, fueron fundamentales en mi proceso. Agradezco a los profesores por sus enseñanzas apoyo constante y a mis amigos y compañeros, de quienes también aprendí mucho. <br>
                    
                    <br>Para terminar, recuerdo lo que siempre nos decía el profe Johan: “En la puerta del horno se quema el pan”. Aprendí que todo se puede recuperar, excepto el tiempo, algo que en esta etapa del colegio ya está por acabarse. <br>
                    
                    <br>Fue un placer compartir este tiempo con mis compañeros, profesores y todas las personas que hicieron este camino más significativo. ¡Sin más que decir, adiós! <br>
                    </p>
            </div>
            <div class="header">
                <a href="../index.html">
                    <img src="../ASSETS/IMG/filtro sepia.jpg" alt="Profile picture">
                </a>
                <h2>Jesús Anaya</h2>
                <h4>jdavidanaya2008@gmail.com</h4>
            </div>
            <div class="back-button">
                <a href="../index.html" class="button">Volver al Inicio</a>
            </div>
        </div>
    </div>
</body>
</html>