<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../ASSETS/CSS/ingles.css">
</head>
<body>
    <div class="title">
        <h1>About me</h1>
    </div>
    <div class="container">
        <div class="card-container">
            <div class="descripcion">
                <p>Hello to everyone reading this! <br>

                    <br>To begin with, I must admit that I have no idea what to write about in this piece of writing. As I wrote these words, I cast a glance back and realized how fast these years at the school have gone by, years full of unforgettable moments that are now just memories. <br>
                    
                    <br>The days, months and years at this school, and the others I was at, have been filled with learning, laughter, and, yes, some bad times too. Those difficult days, as well as the races against time to arrive early or turn in assignments, are now behind me. I value everything I have experienced, the good and the bad, because each experience left me with an important lesson. I also think of the people I met; everyone, in some way, was fundamental in my process. I thank my professors for their teaching and constant support, and my friends and classmates, from whom I also learned a lot. <br>
                    
                    <br>Finally, I remember what Professor Johan always told us: “At the oven door the bread burns”. I learned that everything can be recovered, except time, something that at this stage of school is about to run out. <br>
                    
                    <br>It was a pleasure to share this time with my classmates, teachers and all the people who made this path more meaningful. Without more to say, goodbye! <br>
                    </p>
            </div>
            <div class="header">
                <a href="../index.html">
                    <img src="../ASSETS/IMG/foto ingles.jpg" alt="Profile picture">
                </a>
                <h2>Jesús Anaya</h2>
                <h4>jdavidanaya2008@gmail.com</h4>
            </div>
            <div class="back-button">
                <a href="../index.html" class="button">Volver al Inicio</a>
            </div>
        </div>
    </div>
</body>
</html>