<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel por Pixel: Mi Legado</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../ASSETS/CSS/px_px.css">
</head>
<body>
    <span>Esta parte aun esta en desarrollo...</span>
    <div class="back-home">
        <a href="">
            <i class=""></i>
        </a>
    </div>
    <div class="title">
        <h1>Pixel por Pixel: Mi Legado</h1>
    </div>
    <div class="video-ed-fisica">
        <video src=""></video>
    </div>
    <div class="video-ciencias">
        <video src=""></video>
    </div>
    <div class="video-danzas">
        <video src="../ASSETS/VIDEO/Anuario_Danzas_HD ‐ Hecho con Clipchamp.mp4" autoplay muted height="720px" width="720px"></video>
    </div>
    <div class="video-matematicas">
        <video src="../ASSETS/VIDEO/Anuario Matematicas.mp4" autoplay muted width="720px" height="720px"></video>
    </div>
</body>
</html>