<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel por Pixel: Mi Legado</title>
    <link rel="stylesheet" href="../ASSETS/CSS/px_px.css">
    <link rel="icon" href="../ASSETS/IMG/video.jpg">
</head>
<body>

    <div class="container">
        <header>
            <h1>Pixel por Pixel: Mi Legado</h1>
        </header>

        <nav class="back-home">
            <a href="../index.html">
                <i class="home-icon"></i> Volver al Inicio
            </a>
        </nav>

        <section class="videos">
            <div class="video-wrapper">
                <h2>Educación Física</h2>
                <video src="https://www.dropbox.com/scl/fi/29wibvszuz8tp4b7nuj7e/Video_ed_fisica.mp4?rlkey=fsm756ofbexd39z2s4i8bu2gc&st=jagpz2xo&raw=1" controls muted width="720px" height="480px"></video>
            </div>

            <div class="video-wrapper">
                <h2>Ciencias</h2>
                <video src="https://www.dropbox.com/scl/fi/k4nszs4srecu8nghw856o/CENTROS-DE-PROTECCION-Y-CUIDADO-ANIMAL-EN-COLOMBIA-1103.mp4?rlkey=6zoa4h5z5uugnaxfmqz877ckd&st=3y6g2u2t&raw=1" controls muted width="720px" height="480px"></video>
            </div>

            <div class="video-wrapper">
                <h2>Danzas</h2>
                <video src="https://www.dropbox.com/scl/fi/w53ocd1l3ndolsdebpwip/Anuario_Danzas_HD-Hecho-con-Clipchamp.mp4?rlkey=ec2m2ek7ejnfg9sq39yqywwx8&st=rbcga4lv&raw=1" controls muted width="720px" height="720px"></video>
            </div>

            <div class="video-wrapper">
                <h2>Matemáticas</h2>
                <video src="https://www.dropbox.com/scl/fi/1w8nmndapitflrld9pi1w/Anuario-Matematicas.mp4?rlkey=ccdehat1cs613w2y4glp1qbv2&st=06ofgwzv&raw=1" controls muted width="720px" height="720px"></video>
            </div>
        </section>
    </div>

</body>
</html>